<div class="theme-toggle-wrapper">
  <button id="theme-toggle" aria-label="<%= __('theme.toggle') %>" title="<%= __('theme.toggle') %>">
    <i class="fa-solid fa-circle-half-stroke"></i>
    <span class="theme-text"><%= __('theme.auto') %></span>
  </button>
</div>
